@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.my-background {
    background-image: url(/images/guille-pozzi-sbcIAn4Mn14-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    font-family: 'Kaushan Script', cursive;
    /* padding: 16px; */
    
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
}

/* .nav-hover:hover {
    padding: 14px 16px;
    margin: 2px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
    color: red;
    overflow: hidden;
}

a {
    cursor: pointer;
    
} */

.transparent-white {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

/* flipcard */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}

.flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
  }
  
  .about-grid>* {
    background-color: rgba(255, 255, 255, 0.2);
    /* padding: 5px; */
  }
  .about-grid img {
    width: 100%;
    height: 100%;
  }
  
  .b1 {
    grid-area: span 2/ span 1;
  }
  
  .b2 {
    grid-area: span 1/ span 1;
  }
  
  .b3 {
    grid-area: span 1/ span 2;
  }
  
  .b4 {
    grid-area: span 1/ span 2;
  }
  
  .b5 {
    grid-area: span 2/ span 1;
  }
  
  .b6 {
    grid-area: span 1/ span 2;
  }
  
  .b7 {
    grid-area: span 1/ span 1;
  }
    
.icons i {
    font-size: 30px;
}

i:hover {
    background-color: aqua;
    padding: 5px;
}

footer {
    z-index: 5;
    padding: 30px;
}

/* .example {
    text-decoration: none;
    color: white;
  }

  footer ul {
    list-style: none;
    display: flex;
  } */

 
.typewriter h4 {
    color: #fff;
  
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }
  }